<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tugas Akhir</title>
    
        <link rel="shortcut icon" href="images/yoasobi_logo.png" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Ubuntu&display=swap"
          rel="stylesheet"
        />
    
        <!-- Font Awesome -->
        <script
          src="https://kit.fontawesome.com/750b5a4c5f.js"
          crossorigin="anonymous"
        ></script>
    
        <!-- Bootstrap Stylesheet -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"
        ></script>
    
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="/css/album.css" />
      </head>

<body>
  <section class="berwarna" id="title">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">Library of Yoasobi </a>
            </nav>

            <!-- Title -->
        
    </section>
        <section class="container_parent album1">
            <div class="left_album">
                <img src="/images/thebook.png" alt="">
            </div>
            <div class="right_album">
                <div class="top_album">
                    <h1>The Book</h1>
                </div>
                <div class="list_lagu">
                    <ul>
                        <li>Encore : Klik Disini</li>
                        <li>Halzion : Klik Disini</li>
                        <li>Tracing a Dream : Klik Disini</li>
                        <li>Tabun : Klik Disini</li>
                        <li>Gunjou : Klik Disini</li>
                        <li>Haruka : Klik Disini</li>
                        <li>Yoru ni Kakeru : Klik Disini</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="container_parent album2">
            <div class="left_album">
                <img src="/images/thebook2.png" alt="">
            </div>
            <div class="right_album">
                <div class="top_album">
                    <h1>The Book 2</h1>
                </div>
                <div class="list_lagu">
                    <ul>
                        <li>Tsubame : Klik Disini</li>
                        <li>RGB : Klik Disini</li>
                        <li>Romance : Klik Disini</li>
                        <li>Mou Sukoshi Dake : Klik Disini</li>
                        <li>Comet : Klik Disini</li>
                        <li>Kaibutsu : Klik Disini</li>
                        <li>Moshi mo Inochi ga Egaketara : Klik Disini</li>
                        <li>Love Letter : Klik Disini</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="container_parent album3">
            <div class="left_album">
                <img src="/images/thebook3.png" alt="">
            </div>
            <div class="right_album">
                <div class="top_album">
                    <h1>The Book 3</h1>
                </div>
                <div class="list_lagu">
                    <ul>
                        <li>Yuusha : Klik Disini</li>
                        <li>Shukufuku : Klik Disini</li>
                        <li>Umi no Manimani : Klik Disini</li>
                        <li>Mr. : Klik Disini</li>
                        <li>Idol : Klik Disini</li>
                        <li>Seventeen : Klik Disini</li>
                        <li>Adventure : Klik Disini</li>
                        <li>Sukida : Klik Disini</li>
                    </ul>
                </div>
            </div>
        </section>


          
          <!-- FOOTER -->
          <section class="berwarna" id="footer">  
                                <a class="nav-link" href="/">
                                  <i class="fa-solid fa-house" style="color: white;"></i>
                                </a>
                                <a class="nav-link" href="/">
                                  <i class="fa-solid fa-book" style="color: white;"></i>
                                </a>                                                         
                                <a class="nav-link" href="/">
                                  <i class="fa-solid fa-camera" style="color: white;"></i>
                                </a>
          </section>
  </body>
</html>