<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tugas Akhir</title>
    
        <link rel="shortcut icon" href="images/yoasobi_logo.png" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Ubuntu&display=swap"
          rel="stylesheet"
        />
    
        <!-- Font Awesome -->
        <script
          src="https://kit.fontawesome.com/750b5a4c5f.js"
          crossorigin="anonymous"
        ></script>
    
        <!-- Bootstrap Stylesheet -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"
        ></script>
    
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="/css/bio.css" />
      </head>

<body>
  <section class="berwarna" id="title">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">Library of Yoasobi </a>
            </nav>

            <!-- Title -->

        
    </section>
        <section class="container_parent">
          <div class="left_parent">
            <h1 class="bio_header">Yoasobi</h1>
            <div class="bio_description">
              <h1>Yoasobi adalah superduo musik asal Jepang yang dibentuk oleh Sony Music Entertainment Japan, terdiri dari produser Vocaloid Ayase, dan penyanyi-penulis lagu Ikura. Diwakili oleh slogan "novel into music" (novel ke dalam musik), duo ini telah merilis lagu berdasarkan novel yang dikirim di Monogatary.com, sebuah media sosial yang berpusat pada novel yang dioperasikan oleh label mereka, yang juga berasal dari berbagai media seperti novel yang ditulis oleh penulis profesional, buku, dan surat.
Setelah viral di media sosial, singel debut Yoasobi tahun 2019, "Yoru ni Kakeru", memberi mereka terobosan dengan mencapai puncak Billboard Japan Hot 100 selama enam minggu tidak berturut-turut dan tangga lagu akhir tahun 2020, dan menjadi lagu pertama yang disertifikasi sebagai diamond untuk pengaliran oleh Recording Industry Association of Japan (RIAJ). Ini diikuti oleh singel sukses lainnya, seperti "Gunjou" yang terinspirasi dari Blue Period, dan tema musim kedua Beastars "Kaibutsu". Dua EP pertama grup ini, The Book dan The Book 2 (keduanya dirilis pada tahun 2021), memuncak di nomor dua pada Oricon Albums Chart. Mereka juga merilis EP berbahasa Inggris, E-Side, dan E-Side 2.</h1></div>
          </div>
          <div class="container_right_parent">
            <div class="right_parent">
              <div class="bio_foto">
                <div class="berwarna container_text"><h1>Yoasobi</h1></div>
                <div class="foto">
                <img src="/images/yoasobibio.png" alt="">
                </div>
              </div>
              <div class="bio_latarblkg">
                <div class="berwarna container_text"><h1>Informasi Latar Belakang</h1></div>
            
                <div class="parent_desc_latarblkg">
                <div class="left_latarblkg">
                  <ul>
                    <li>Asal</li>
                    <li>Genre</li>
                    <li>Tahun Aktif</li>
                    <li>Label</li>
                    <li>Situs Web</li>
                    <li>Anggota</li>
                  </ul>
                </div>
                <div class="right_latarblkg"></div>
                  <ul>
                    <li>Tokyo, Jepang</li>
                    <li>J-pop</li>
                    <li>2019 - Sekarang</li>
                    <li>Sony Music Entertainment Japan</li>
                    <li> <a href="https://www.yoasobi-music.jp">www.yoasobi-music.jp</a></li>
                    <li>Ayase, Ikura</li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          
        </section>

        <section class="container_parent">
          <div class="left_parent">
            <h1 class="bio_header">Lilas Ikuta</h1>
            <div class="bio_description">
              <h1>Rira Ikuta (Ikuta Rira) atau Lilas Ikuta atau yang lebih dikenal sebagai Ikura merupakan penyanyi, penulis Lagu, dan anggota darisuperduo Yoasobi asal Tokyo, Jepang sebelumnya ia merupakan anggota grup musik akustik yaitu Plusonica sampai tanggal 13 Agustus 2021. Lilas dilahirkan di Jepang dan menetap di Chicago Amerika Serikat selama tiga tahun. Ia mulai menulis lirik dan meciptakan musik dengan gitarnya sejak kelas 6 SD dan terus menekuninya hingga kelas 3 SMP.</h1>
              <h1>Ia memulai kariernya dalam berpartisipasi kategori Artis pada Tokyo Girls Audition dan maju sampai babak ketiga dan ia juga terpilih sebagai finalis dalam proyek Singin Japan yang diselenggarakan oleh Sony Music.
Kemudian pada tahun 2016 bulan Januari ia terlibat sebagai keempat dalam kursus pelatihan untuk artis pendatang baru yang bernama the Lesson yang kembali diadakan oleh Sony Music dan pada tanggal 26 Agustus ia merilis album pertamanya yang berjudul Juugo no Omoi.
Pada tahun 2017, Lilas bergabung kedalam grup musik akustik yang bernama Plusonica sebagai vokalis selain itu ia juga terlibat dalam Instrumen seperti keyboard, gitar dan trompet.
Pada tanggal 4 Februari 2018, Lilas tampil di acara musik televisi TV Asahi seperti Konya dan Tanjou! Ongaku Champ dan siarang langsung pada acara yang digelarnya pada tanggal 21 April 2018 dan juga merilis album mini pertamanya yang bejudul Rerise yang dijual hanya dalam edisi terbatas selama acara tersebut berlangsung.</h1>
<h1>Ia kemudian lulus untuk masuk ke perguruan tinggi yang berlangsung dari bulan September sampai Oktober pada tahun 2018 dan dinyatakan lulus pada April 2019. Pada November 2019, Lilas bersama Ayase membentuk grup duo musik yang bernama Yoasobi yang vokalisnya adalah dia dengan nama panggungnya yaitu Ikura dan mereka merilis single pertama mereka yaitu Yoru ni Kakeru yang sebulan kemudian video musiknya telah ditonton lebih dari 100 juta penonton.</h1>
            </div>
          </div>
          <div class="container_right_parent">
            <div class="right_parent">
              <div class="bio_foto">
                <div class="berwarna container_text"><h1>Lilas Ikuta</h1></div>
                <div class="foto">
                <img src="/images/ikurabio.png" alt="">
                </div>
              </div>
              <div class="bio_latarblkg">
                <div class="berwarna container_text"><h1>Informasi Latar Belakang</h1></div>
            
                <div class="parent_desc_latarblkg">
                <div class="left_latarblkg">
                  <ul>
                    <li>Kelahiran</li>
                    <li>Nama lain</li>
                    <li>Asal</li>
                    <li>Tahun Aktif</li>
                    <li>Pekerjaan</li>
                  </ul>
                </div>
                <div class="right_latarblkg"></div>
                  <ul>
                    <li>25 September 2000, Tokyo</li>
                    <li>Ikura</li>
                    <li>Jepang</li>
                    <li>2015 - Sekarang</li>
                    <li>Penyanyi, penulis lagu</li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          
        </section>

        <section class="container_parent">
          <div class="left_parent">
            <h1 class="bio_header">Ayase</h1>
            <div class="bio_description">
              <h1>Ayase adalah seorang musisi dan produser rekaman Jepang. Ia dikenal sebagai produser dan komposer Vocaloid untuk Yoasobi , duo musik yang terdiri dari dirinya dan vokalis Ikura . Ia juga merupakan vokalis band rock Davinci hingga bubar pada tahun 2020.</h1>
              <h1>Ayase mulai membuat musik menggunakan bank suara perangkat lunak Vocaloid Hatsune Miku selama ia dirawat di rumah sakit. Ia merilis lagu pertamanya "Sentensei Assault Girl" melalui situs web berbagi video YouTube dan Niconico pada tanggal 24 Desember 2018. Sejak saat itu, ia terus menerbitkan sendiri beberapa lagu, termasuk "Last Resort" pada bulan April 2019, yang membuatnya meraih popularitas pertamanya.
Sebagai penulis lagu dan produser, Ayase telah menulis dan memproduksi beberapa lagu untuk artis seperti Lisa , Uru , Nana Mori , Hoshimachi Suisei , Hey! Say! JUMP , dan Poppin'Party , dll. Pada tahun 2024, ia bertugas menulis dan memproduksi lagu tema untuk film medis tahun 2024 Doctor-X: The Movie , berjudul "Episode X", yang dibawakan oleh Ado.</h1>
<h1>
Sekitar waktu "Last Resort" menjadi populer, pada pertengahan tahun 2019, Ayase menerima tawaran dari Yohei Yashiro dan Shuya Yamamoto dari Sony Music Entertainment Japan , untuk berkolaborasi dalam sebuah proyek untuk memproduksi lagu-lagu yang terinspirasi oleh cerita pendek yang diterbitkan di media sosial penulisan kreatif Monogatary.com. Dia menemukan Ikura di Instagram , di mana dia meng-cover lagu tersebut, dan kemudian memeriksa saluran YouTube-nya, dan menghubunginya secara langsung untuk membujuknya membentuk duo, yang disebut Yoasobi. Singel perdana mereka " Yoru ni Kakeru ", yang dirilis pada bulan Desember 2019, menjadi viral dan menjadi kesuksesan musikal di Jepang yang mengakibatkan popularitas Yoasobi meningkat di kancah musik Jepang.</h1>
            </div>
          </div>
          <div class="container_right_parent">
            <div class="right_parent">
              <div class="bio_foto">
                <div class="berwarna container_text"><h1>Ayase</h1></div>
                <div class="foto">
                <img src="/images/ayasebio.png" alt="">
                </div>
              </div>
              <div class="bio_latarblkg">
                <div class="berwarna container_text"><h1>Informasi Latar Belakang</h1></div>
            
                <div class="parent_desc_latarblkg">
                <div class="left_latarblkg">
                  <ul>
                    <li>Kelahiran</li>
                    <li>Nama lain</li>
                    <li>Asal</li>
                    <li>Tahun Aktif</li>
                    <li>Pekerjaan</li>
                  </ul>
                </div>
                <div class="right_latarblkg"></div>
                  <ul>
                    <li>4 April 1994, Ube</li>
                    <li>Keiichiro</li>
                    <li>Jepang</li>
                    <li>2012 - Sekarang</li>
                    <li>Produser Rekaman, Penyanyi</li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          
        </section>


          
          <!-- FOOTER -->
          <section class="berwarna" id="footer">  
                                <a class="nav-link" href="/">
                                  <i class="fa-solid fa-house" style="color: white;"></i>
                                </a>
                                <a class="nav-link" href="/album">
                                  <i class="fa-solid fa-book" style="color: white;"></i>
                                </a>                                                         
                                <a class="nav-link" href="/">
                                  <i class="fa-solid fa-camera" style="color: white;"></i>
                                </a>
          </section>
  </body>
</html>