<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ND Tech</title>
    
        <link rel="shortcut icon" href="images/nd-svg.png" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Ubuntu&display=swap"
          rel="stylesheet"
        />
    
        <!-- Font Awesome -->
        <script
          src="https://kit.fontawesome.com/750b5a4c5f.js"
          crossorigin="anonymous"
        ></script>
    
        <!-- Bootstrap Stylesheet -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"
        ></script>
    
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="/css/home.css" />
      </head>

<body>
    <section class="berwarna" id="title">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">Tugas Akhir </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#Toggler"
                    aria-controls="navbarTogglerDemo01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Toggler">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/journal">Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Title -->
               <!-- Title -->
        <div class="row">
            <div class="col-lg-6">
              <h1 class="title-text">
                Buat Journal Harian Kamu Sekarang, dan Lihatlah Progressnya!
              </h1>
              <button
                type="button"
                class="btn btn-dark btn-lg download-button github_button"
              >
                <i class="fa fa-github" aria-hidden="true"></i>
                <a class="compose github" href="https://github.com/AndiMSF"
                  >GitHub</a
                >
              </button>
              <button
                type="button"
                class="btn btn-outline-light btn-lg download-button"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
                <a class="compose" href="/journal">Make It Now !</a>
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="title-image"
                src="/images/adventurer.png"
                alt="journey-mockup"
              />
            </div>
          </div>

          <!-- SECTION 2 -->

          <section class="tidakberwarna" id="features">
            <div class="container-fluid">
              <div class="row">
                <div class="feature-box col-md-12 col-lg-4">
                  <i class="fa-solid fa-circle-check fa-5x feature-logo"></i>
      
                  <h3 class="features-h3">Easy</h3>
                  <p>Ketik Dan Kirim Dalam Hitungan Detik!</p>
                </div>
      
                <div class="feature-box col-md-12 col-lg-4">
                  <i class="fa-solid fa-bullseye fa-5x feature-logo"></i>
      
                  <h3 class="features-h3">Achieve</h3>
                  <p>Kejar Targetmu!</p>
                </div>
      
                <div class="feature-box col-md-12 col-lg-4">
                  <i class="fa-solid fa-heart fa-5x feature-logo"></i>
                  <h3 class="features-h3">Bermanfaat</h3>
                  <p>Website Ini Bermanfaat Untuk Perjalanan Hidup Kamu!</p>
                </div>
              </div>
            </div>
          </section>
          <!-- SECTION 3 -->
          <section class="berwarna" id="about">
            <div
              id="testimonials-carousel"
              class="carousel slide"
              data-bs-ride="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item active container-fluid">
                  <h2 class="testimonial-text">
                    Website Yang Simple Dan Elegan, Digunakan Untuk Mencatat
                    Perjalanan Kalian!
                  </h2>
                  <img
                    class="testimonial-img"
                    src="/images/AndiProfile.png"
                    alt="andy-profile"
                  />
                  <em>Andi Muhammad S F</em>
                </div>
                <div class="carousel-item container-fluid">
                  <h2 class="testimonial-text">
                    Apapun Yang Kamu Catat Disini, Kamu Bisa Tahu Apa Yang Telah Kamu
                    Kerjakan
                  </h2>
                  <img
                    class="testimonial-img"
                    src="images/notepad.png"
                    alt="note-profile"
                  />
                  <em>Hamba Allah</em>
                </div>
                <div class="carousel-item container-fluid">
                  <h2 class="testimonial-text">
                    Mari Kita Atur Hidup Kamu Lebih Teratur Dari Sekarang, Catat
                    Apapun Yang Telah Kamu Buat!
                  </h2>
                  <img
                    class="testimonial-img"
                    src="images/happiness.png"
                    alt="happiness-profile"
                  />
                  <em>Hamba Allah</em>
                </div>
              </div>
      
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#testimonials-carousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#testimonials-carousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </section>
          <!-- FOOTER -->
          <footer class="tidakberwarna" id="footer">
            <div class="container-fluid">
              <div class="footer-icon">
                <a href="mailto:andimuhammadsatriafadhil77@gmail.com"
                  ><i class="fa-icon fa-solid fa-envelope"></i
                ></a>
                <a href="https://www.linkedin.com/in/andi-muhammad-satria-fadhil-5a0235238/">
                  <i class="fa-icon fa-brands fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/andi_m_s_fadhil/"
                  ><i class="fa-icon fa-brands fa-instagram"></i
                ></a>
              </div>
      
              <p>© Copyright Andi Muhammad S F</p>
            </div>
          </footer>
  </body>
</html>