<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tugas Akhir</title>
    
        <link rel="shortcut icon" href="images/yoasobi_logo.png" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Ubuntu&display=swap"
          rel="stylesheet"
        />
    
        <!-- Font Awesome -->
        <script
          src="https://kit.fontawesome.com/750b5a4c5f.js"
          crossorigin="anonymous"
        ></script>
    
        <!-- Bootstrap Stylesheet -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"
        ></script>
    
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="/css/home.css" />
      </head>

<body>
    <section class="berwarna" id="title">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">Library of Yoasobi </a>
    </nav>

    <!-- Gambar jadi background -->
    <div class="image-overlay">
      <!-- Section 2 ditaruh di atas gambar -->
      <section id="features">
        <h1>Tempat untuk mencari informasi <br> seputar band Yoasobi!</h1>
        <div class="image-fluid">
          <div class="row">
            <div class="feature-box col-md-12 col-lg-4">
              <a href="/bio" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-user fa-4x feature-logo"></i>
                <h3 class="features-h3">Bio</h3>
              </a>
            </div>

            <div class="feature-box col-md-12 col-lg-4">
              <a href="/album" style="text-decoration: none; color: inherit;">
              <i class="fa-solid fa-book fa-4x feature-logo"></i>
              <h3 class="features-h3">Album</h3>
              </a>
            </div>

            <div class="feature-box col-md-12 col-lg-4">
              <i class="fa-solid fa-camera fa-4x feature-logo"></i>
              <h3 class="features-h3">Galeri</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

          <!-- SECTION 3 -->
          <section class="berwarna" id="about">
            <div
              id="testimonials-carousel"
              class="carousel slide"
              data-bs-ride="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item active container-fluid">
                  <h2 class="testimonial-text">
                    (小説を音楽にする) "We make novel into music."
                  </h2>
                  <img
                    class="testimonial-img"
                    src="/images/Ayase_icon.png"
                    alt="ayase-profile"
                  />
                  <em>- motto YOASOBI -</em>
                </div>
                <div class="carousel-item container-fluid">
                  <h2 class="testimonial-text">
                    "Everything is necessary now. You don't have to worry about comparing yourself to others."
                  </h2>
                  <img
                    class="testimonial-img"
                    src="images/Ikura_icon.png"
                    alt="note-profile"
                  />
                  <em>- motto Ikura -</em>
                </div>
                <div class="carousel-item container-fluid">
                  <h2 class="testimonial-text">
                    (Yoasobi) Night life
                  </h2>
                  <img
                    class="testimonial-img"
                    src="images/happiness.png"
                    alt="happiness-profile"
                  />
                  <em>- Yoasobi -</em>
                </div>
              </div>
      
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#testimonials-carousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#testimonials-carousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </section>
          
          <!-- FOOTER -->
          <footer class="tidakberwarna" id="footer">
            <div class="container-fluid">
              <div class="footer-icon">
                <a href="https://open.spotify.com/intl-id/artist/64tJ2EAv1R6UaZqc4iOCyj"
                  ><i class="fa-icon fa-brands fa-spotify"></i
                ></a>
                <a href="https://www.youtube.com/@Ayase_YOASOBI">
                  <i class="fa-icon fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/yoasobi_staff_/"
                  ><i class="fa-icon fa-brands fa-instagram"></i
                ></a>
                <a href="https://www.tiktok.com/@yoasobi_ayase_ikura"
                  ><i class="fa-icon fa-brands fa-tiktok"></i
                ></a>
              </div>
      
              <p>© Copyright Rifqi Asyofi Dirga</p>
            </div>
          </footer>
  </body>
</html>